{% extends 'news/default.html' %}
{% load custom_filters %}
{% load i18n %}

{% block title %}
    News
{% endblock title %}

{% block content %}
{#    <div class="text-center">#}
        <form method="GET">
            {{ filter.form.as_p }}
            <input type="submit" value={% translate 'Search' %}>
        </form>
{#    </div>#}
    <p>
        {% if news %}
            <table>
                <tr>
                    <td>{% translate 'Title' %}</td>
                    <td>{% translate 'Publication date' %}</td>
                    <td>{% translate 'Description' %}</td>
                    <td></td> <!--Редактировать-->
                    <td></td> <!--Удалить-->
                </tr>
                {% for n in news %}
                    <tr>
                        <td><a class="nav-link" href={{ n.get_absolute_url }}>{{ n.title|censor }}</a></td>
                        <td>{{ n.created|date:'d.m.Y' }}</td>
                        <td>{{ n.text|truncatechars:50|censor }}</td>
                        <td><a class="nav-link" href={% url 'news_update' n.pk %}> {% translate 'Edit' %} </a></td>
                        <td><a class="nav-link" href={% url 'news_delete' n.pk %}> {% translate 'Delete' %} </a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h2>{% translate 'No news' %}(</h2>
        {% endif %}

    <a class="nav-link" href={% url 'news_create' %}>
        <button type="button">{% translate 'Add news' %}</button>
    </a>

    {% if filter_by_categories %}
        <a class="nav-link" href={% url 'cat_subscribe' %}>
            <button type="button">{% translate 'Subscribe categories' %}</button>
        </a>
    {% endif %}

    <div class="text-center">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a href="?page=1{{ filter_params }}">first</a>
                <a href="?page={{ page_obj.previous_page_number }}{{ filter_params }}"><<<</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    {{ num }}
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a href="?page={{ num }}{{ filter_params }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{{ filter_params }}">>>></a>
                <a href="?page={{ page_obj.paginator.num_pages }}{{ filter_params }}">last</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock content %}