{% extends 'news/default.html' %}
{% load custom_filters %}

{% block title %}
    News
{% endblock title %}

{% block content %}
    <form method="GET">
        {{ filter.form }}
        <input type="submit" value="Найти">
    </form>
    {% if news %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Описание</td>
                <td>Редактировать</td>
                <td>Удалить</td>
            </tr>
            {% for n in news %}
                <tr>
                    <td><a class="nav-link" href={{ n.get_absolute_url }}>{{ n.title }}</a></td>
                    <td>{{ n.created|date:'d.m.Y' }}</td>
                    <td>{{ n.text|truncatechars:50 }}</td>
                    <td><a class="nav-link" href={% url 'news_update' n.pk %}>Редактировать</a></td>
                    <td><a class="nav-link" href={% url 'news_delete' n.pk %}>Удалить</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Нет новостей(</h2>
    {% endif %}

    <a class="nav-link" href={% url 'news_create' %}>Добавить новость</a> <br>

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href={{ get_dict|paginate_link:1 }}>first</a>
            <a href={{ get_dict|paginate_link:page_obj.previous_page_number }}><<<</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                {{ num }}
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href={{ get_dict|paginate_link:num }}>{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href={{ get_dict|paginate_link:page_obj.next_page_number }}>>>></a>
            <a href={{ get_dict|paginate_link:page_obj.paginator.num_pages }}>last</a>
        {% endif %}
    {% endif %}

{% endblock content %}